#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: f4f9fd;
}

#copyButton:hover {
    -fx-background-color: #009fbf;
}

#copyButton:armed {
    -fx-background-color: #c4c5d4;
}

#helpMessageContainer {
    -fx-background-color: derive(#f4f9fd, 20%);
}
